*{
    margin:0;
    padding:0;
}

body{
    background-color: #cec5c5;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 300px;
    height: 500px;
    box-shadow: -1px 5px 10px 1px #000;
    border:17px solid #1f1f1f; 
}

@media (max-width:550px) {
    .box{
        width: 100%;
        height: 100vh;
        border:0px solid #1f1f1f;
    }

    li{
        height: 70px;
    }
    .numeros{
        height: calc(100% - 200px);
    }
    .resultado{
        height:200px;
    }
}

@media (min-width:551px) {
    .box{
        border-radius: 10px;
    }
    li{
        height: 41px;
    }
    .numeros{
        height: calc(100% - 100px);
    }
    .resultado{
        height: 100px;
    }

}

img{
    height: 15px;
}

.resultado{
    background:gray;
    font-size: 42px;
    overflow-x: scroll;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 5px;
}

.resultado::-webkit-scrollbar{
    display: none;
}

li:hover{
    background-color: #666666;
}
.operadores:hover{
    background-color: #1f79b1;
}

.numeros{
    background-color: #1f1f1f;
    list-style: none;
    display: flex;
    padding: 0 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

li{
    width: 23%;
    word-wrap:break-word;
    flex-wrap: wrap;
    box-shadow: 1px 1px 1px 0px red;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #595961;
}

.operadores{
    background-color:#1b6b9c;
}

.back{
    background: #ad4b4b
}

.back:hover{
    background-color: #b94444;
}